html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  gap: 50px;
  background-color: black;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  height: 500px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 99px;
  background-color: rgb(19, 19, 19);

  border: 1px solid rgb(0, 0, 0);
}

/* div {
  border: 1px red solid;
} */

.choose-color {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
}

.color-divs1,
.color-divs2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pen-color,
.background-color {
  height: 30px;
  width: 60px;

  border: 1px solid rgb(0, 225, 255);
  color: rgb(0, 225, 255);
}

span,
.title,
.mode {
  color: rgb(0, 225, 255);
}

.board {
  background-color: white;
}

p {
  font-size: 15px;
}

.buttons {
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

#btn-color {
  width: 200px;
  height: 30px;
  background-color: black;
  border: 1px solid rgb(0, 225, 255);
  color: rgb(0, 225, 255);
  font-size: 16px;
}

.board {
  height: 500px;
  width: 500px;
  display: grid;
  border: 1px solid black;
}

#btn-color:hover {
  cursor: pointer;
  background-color: rgb(34, 34, 34);
}

#btn-color:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
